@import url(common.css);

.area {
    width: 1600px;
    margin: auto;
}

#wrap {
    position: relative;
    width: 100%;
    letter-spacing: -0.05em;
    overflow: hidden;
}

#wrap:before {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/visual01.gif') no-repeat center top / cover;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
}

#wrap.active:before {
    transform: scale(1);
    -webkit-transform: scale(1);
}


/**************************
    
    header

***************************/

/*topmenu*/
.topmenu {
    background: #555555;
    height: 40px;
    line-height: 40px;
}
.topmenu a{
    color: #fff;
}
.topmenu ul li a{
    border-left: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    display: inline-block;
    padding: 0 30px
}
.topmenu ul li:nth-child(1) a{
    float: left
}

.topmenu ul li:nth-child(2) a{
    float: right;
}

.topmenu ul li:nth-child(2) a i{
    font-size: 14px;
    padding-right: 5px;
}

/*nav*/
.header_inner{
    height: 100px;
    border: 1px solid;
    line-height: 100px;
}
.header_inner .area{
    position: relative
}

.header_inner h1{
    float: left
}

nav{
    width: 1200px;
    margin: 0 auto
}
nav>ul>li>a{float: left; width: 200px; text-align: center; font-size: 24px; font-weight: bold; }

nav>ul>li .depth1{
    position: absolute;
    top: 120px;
    background: #214986;
    left:0;
    width: 1600px;
    height: 200px;
}
nav>ul>li .depth1  span{
    float: left;
    width: 20%
        
}

nav>ul>li .depth1 li .depth2{
    width: 80%;
    float: left
}
nav>ul>li .depth1 li .depth2 > li{
    float: left;
    width: 25%;
}
nav>ul>li .depth1 li .depth2>li >a{
    color: #fff;
    display: table;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    
}
nav>ul>li .depth1 li .depth2 li .depth3
{
    float: left;
    width: 100%
}
nav>ul>li .depth1 li .depth2 li .depth3>li{
    line-height: 20px;
}
nav>ul>li .depth1 li .depth2 li .depth3>li a{
    color: #fff;
    padding: 10px;
    opacity: 0.8
}

.btn{float: right}
.btn li{float: left; padding-left: 20px}
.btn li a{font-size: 30px;}






.container{
    height: 1000px;
}














