@import url(default.css);

.area {
    margin: 0 auto;
    width: 1400px;
}
body[class^=fp] #footer{
    position: fixed;
    left: 0
}

/*******************************

    fullpage - navigation

*******************************/
#menu {
    position: fixed;
    right: 4.5rem;
    top: 0;
    bottom: 0;
    margin: 0 !important;
    z-index: 1;
    border-right: 1px solid #e5e7ec;
}

#menu ul {
    position: relative;
    top: 50%;
    font-size: 16px;
    text-align: right;
    line-height: 2rem;
    transform: translateY(-50%);
    color: #fff;

}

#menu li {
    position: relative;
    margin-right: -0.8rem;
    padding: 5px 40px 5px 0
}

#menu li a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#menu li::after {
    overflow: hidden;
    position: absolute;
    right: 0.55rem;
    top: 50%;
    width: 0.5rem;
    height: 0.5rem;
    margin-top: -0.25rem;
    border-radius: 100%;
    background-color: #c6c6c6;
    font-family: fontAwesome;
    font-weight: normal;
    color: #377cfd;
    content: '\f015';
    text-align: center;
    line-height: 1.6rem;
    transition: all 0.3s 0.1s;
}

#menu ul li:nth-child(2).active::after {
    content: '\f0b1';
    font-size: 13px
}

#menu ul li:nth-child(3).active::after {
    content: '\f007';
    font-size: 17px;
}

#menu ul li:nth-child(4).active::after {
    content: '\f095';
}

#menu div {
    overflow: hidden;
    height: 2rem;
}

#menu ul li.active::after {
    right: -5px;
    top: 18px;
    width: 35px;
    height: 30px;
    margin-top: -0.8rem;
    padding-top: 0.45rem;
    line-height: 24px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.8);
}

#menu ul li.active a + div {
    font-weight: bold;
    transition: all 0.3s 0.1s;
}

/*******************************

    section1

*******************************/

/*배경*/
.visual {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


/*header*/
header {
    width: 100%;
    height: 4.5rem;
    border-bottom: 1px solid #e5e7ec;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99
}

header h1{
    padding-left: 100px;
    padding-top: 10px;
    float: left
}

header nav{
    margin: 0 auto;
}
header nav ul li{
    float: left;
    width: 8rem;
    text-align: center;
}
header nav ul li a{
    color: #fff !important;
    line-height: 4rem;
    font-size: 24px;
}

header .search > a{
    position: fixed;
    right: 75px;
    top: 0;
    display: inline-block;
    padding: 24px 28px;
    color: #fff;
    font-size: 20px;
    overflow: hidden;
    z-index: 1
}

header .search .search_wrap{
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
}

header .search .search_wrap .search_inner{
    background: #377cfd;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 68px;
    left: 0;
    text-align: center
}



































#section2 {
    background: #ccc
}

#section3 {
    background: #1350b2
}

#section4 {
    background: #148953
}


/*******************************

    footer

*******************************/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: gray;
    width: 100%;
    height: 80px;
}